body {
  background: #232527;
  font-family: "IBM Plex Sans";
  overflow-x: hidden;
  padding: 20px 36px;
}

h1 {
  margin-top: 0;
  margin-bottom: 30px !important;
  color: white;
}

.App {
  width: 100%;
}

.header {
  text-align: center;
  color: white;
  margin-bottom: 50px;
  margin-top: 30px;
  line-height: 180%;
}

.footer {
  text-align: center;
  color: #c0c0c0;
  margin-top: 30px;
  font-size: small;
}

.main-actions {
  display: flex;
  flex-wrap: wrap;
}

.main-actions > * {
  padding-left: 48px;
  padding-right: 48px;
}

.chessboard {
  width: 45%;
}
.chessboard > * {
  margin-bottom: 50px;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button {
  color: white;
  font-size: 24px;
}

label {
  color: white;
  font-size: small;
}

input {
  border-style: none;
}

.fen-field {
  padding: 16px;
  width: 260px;
  border-radius: 10px 0px 0px 10px;
}

.main-button {
  padding: 16px;
  background-color: #378bfb;
  width: 100%;
  border-radius: 10px;
  font-weight: 700;
}

.copy-button {
  padding: 16px;
  background-color: #5b5b5b;
  flex-grow: 1;
  border-radius: 0px 10px 10px 0px;
}

.actions {
  min-width: 400px;
}

.actions > * {
  margin-bottom: 100px;
}

.main-group > * {
  margin-bottom: 60px;
}

.copy-link {
  display: flex;
  margin-top: 10px;
}

a {
  color: white;
  text-decoration: none;
  transition: all 400ms ease-out;
}

a:hover {
  color: #378bfb;
}

@media screen and (max-width: 992px) {
  body {
    padding: 20px 8px;
  }

  .App {
    width: 100%;
  }

  .main-actions > * {
    padding: 0;
  }

  .main-group {
    margin-bottom: 0px;
  }

  .chessboard {
    width: 100%;
    margin: 0;
  }

  .chessboard > * {
    margin-bottom: 20px;
  }

  .actions {
    min-width: 0px;
    width: 100%;
  }
}
